<h1>Oto ostatnie zmiany kadrowe w LP
  <p class='text-primary'>text-primary</p>

  {{#each employees}}
    <div class='employee'>
      <div class='shoulder-mark'><img src='{{shoulderMarkImg}}' alt='' /></div>
      <div class='personal-info'>
        <div class='fullname'>{{fullName}}</div>
        <div class='position'>{{position}}</div>
        {{#notEqual position 'Inżynier Nadzoru'}}
          <div class='department'>{{department}}</div>
        {{/notEqual}}
        <div class='unitname'>{{unitName}}</div>
      </div>
      <div class='shoulder-mark'><img src='{{shoulderMarkImg}}' alt='' /></div>
    </div>
  {{/each}}
</h1>