<h1>Oto ostatnie zmiany kadrowe w LP
  <p class='text-primary'>text-primary</p>
  <form action='/list' method='GET'>
    <label for='dropdownArea'>Wybierz zasięg:</label>
    <select id='dropdownArea' name='selectedArea'>
      {{#each dropdownAreas}}
        <option value='{{option}}'>{{option}}</option>
      {{/each}}
    </select>

    <label for='dropdownPeriod'>Wybierz okres:</label>
    <select id='dropdownPeriod' name='selectedPeriod'>
      {{#each dropdownPeriods}}
        <option value='{{option}}'>{{option}}</option>
      {{/each}}
    </select>
    <button type='submit'>Filtruj</button>
  </form>

  {{#each employees}}
    <div class='employee'>
      <div class='shoulder-mark'><img src='{{shoulderMarkImg}}' alt='' /></div>
      <div class='personal-info'>
        <div class='fullname'>{{fullName}}</div>
        <div class='position'>{{position}}</div>
        {{#notEqual position 'Inżynier Nadzoru'}}
          <div class='department'>{{department}}</div>
        {{/notEqual}}
        <div class='unitname'>{{unitName}}</div>
      </div>
      <div class='shoulder-mark'><img src='{{shoulderMarkImg}}' alt='' /></div>
    </div>
  {{/each}}
</h1>